
* {
    font-family: 'Poppins', sans-serif;
    border: 1px solid pink;
    margin: 0;
}

body {
    height:100dvh;
    display:flex;
    
}

header {
    background-color: #1F1F3C;
}

h1 {
    font-size: xxx-large;
    padding: 10px;
    color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100dvh;
    background-color: #EAEAF4

}


.title-input {
  width: 59dvh;
  margin-left: 13%;
  height: 13%;
  margin-bottom: 3%;
  margin-top: 4%;
}

.body-input {
  width: 59dvh;
  margin-left: 13%;
  height: 7dvh
}

.save-button {
  width: 60dvh;
  margin-left: 13%;
  height: 6dvh;
  margin-top: 5%
  

}

.form {
  background-color: #A8AAD2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50dvh
}

.card-container {
  height: 48dvh;
  background-color: black;
  height: 53dvh;
  width: 100dvw
}

