
* {
    font-family: 'Poppins', sans-serif;
    border: 1px solid pink;
    margin: 0;
}

body {
    height:100dvh;
    display:flex;
    
}

header {
    background-color: #1F1F3C;
}

h1 {
    font-size: xxx-large;
    padding: 10px;
    color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100dvh;

}


.title-input {
    height: 15%;
    margin-bottom: 3%;
}

.body-input {
    height: 25%;
    margin-bottom: 30px;
}

.save-button {
    height: 23%;
    margin-bottom: 39px;
  
}

.form {
  background-color: #A8AAD2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50dvh;
  width: 100dvw;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.card-container {
  height: 48dvh;
  background-color: #EAEAF4;
  height: 53dvh;
  width: 100dvw
}

