
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body {
    display:flex;
    
}

header {
    background-color: #1F1F3C;
}

h1 {
    font-size: xxx-large;
    padding: 10px;
    color: #EAEAF4;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}


.title-input {
    height: 45px;
    margin-bottom: 40px;
    width: 700px;
    margin-top: 35px;
    margin-left: 5px;
    border: 3px solid #1F1F3C;
}

.body-input {
    height: 100px;
    margin-bottom: 30px;
    width: 700px;
    margin-left: 5px;
    margin-right: 11px;
    border: 3px solid #1F1F3C;
}

.save-button {
    height: 80px;
    margin-bottom: 39px;
    width: 708px;
    margin-left: 56px;
    background-color: #1F1F3C ;
    color: #EAEAF4;
    font-size: 35px;
}

.input-form {
  background-color: #A8AAD2;
  display: flex;
  flex-direction: column;
  height: 50dvh;
  width: 84dvw;
  align-items: center;
  justify-content: center;

}

label {
    text-align: right;
    font-size: 25px;
}

.card-container {
  height: 48dvh;
  background-color: #EAEAF4;
  width: 84dvw;
}

